body{
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    margin: auto;
}

.btn{
    background-color: #5CB85F;
    border-color: #5CB85F;
}
/* AWAL HEADER */
.navbar{
    background-color: #F1F3FF;
}
.square{
    width: 100px;
    height: 34px;
    margin-left: 90px;
    top: 25px;
    background: #0D28A6;
}

.nav-link{
    color: black;
}

/* AKHIR HEADER */

/* AWAL HERO */
.page-kiri{
    padding-top: 80px;
}
.hero{
    background-color: #F1F3FF;
    padding-top: 180px;
    padding-bottom: 150px;
    height: 590px;
}

.text-kiri-top{
    font-weight: bold;
    margin-left: 150px;
}

.text-kiri{
    margin-left: 150px;
}

.square-hero{
    position: absolute;
    z-index: 1;
    width: 704px;
    height: 295px;
    left: 736px;
    top: 261px;
    background: #0D28A6;
    border-radius: 60px 0px 0px 0px;
}

.mercy-hero{
    position: relative;
    display: block;
    z-index: 2;
}
/* AKHIR HERO */

/* AWAL OUR SERVICE */
.img-service{
    position: relative;
    width: 459px;
    height: 428px;
    left: 150px;
    top: 200px;
}
.header-text-service{
    padding-top: 180px;
}
.our-service{
    padding-bottom: 200px;
}
/* AKHIR OUR SERVICE */

/* AWAL WHY US */
/* .text-why-us{
   margin-left: 80px;
} */

.container-card{
    padding-top: 50px;
    padding-bottom: 100px;
}

.why-us-card{
    width: 268px;
    height: 196px;
}
.why-us-card:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    transition-timing-function: ease-in;
    transition-duration: 250ms;
}

.card-subtitle{
    font-size: 20px;
    font-weight: bold;
}
.text-card{
    font-size: 15px;
}
/* AKHIR WHY US */

/* AWAL TESTIMONI */

.testi-img {
    height: auto;
    width: auto;
    border-radius: 50%;
    margin-left: 25px;
}


.card-testimoni{
    background-color: #F1F3FF;
}

.sewa-mobil{
    padding-top: 150px;
}
.big-card{
    padding-top: 100px;
    width: 1100px; 
    height: 400px; 
    border-radius: 13px;
    background-color: #0D28A6;
}
.header-card{
    color: white;
}

.text-big-card{
    color: white;
}

/* AKHIR TESTIMONI */

/* AWAL FOOTER */
.footer{
    padding-top: 150px;
}

a{
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

a:hover{
    text-decoration-color: rgba(13, 110, 253, 1);
}
.square-2{
    position: absolute;
    width: 100px;
    height: 34px;
    background: #0D28A6;
}
/* AKHIR FOOTER */